@model IEnumerable<webBH.Models.Order_items>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Số lượng")
            </th>
            <th>
                @Html.DisplayName("Thành tiền")
            </th>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Tên sản phẩm")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quanlity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_money)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
        @Html.ActionLink("Quay lại", "Index")
    </p>
</body>
</html>
