@model webBH.Models.Order_items

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Order_items</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.quanlity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.quanlity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.total_money)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_money)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Order.id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order.id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
